<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-rtl.css">
    <link href="~/Scripts/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Scripts/media/css/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body style="direction:rtl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name","Index","Home",new { area = "" },new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home","Index","Home")</li>
                    <li>@Html.ActionLink("About","About","Home")</li>
                    <li>@Html.ActionLink("Contact","Contact","Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/js.cookie.js"></script>
    <script src="~/Scripts/jquery.blockUI.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/JS/Common.js"></script>
    <script src="~/JS/WebApi.js"></script>
    <script src="~/Scripts/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/media/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        common.initLoadingAnimation();

        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {

            if( jqxhr.status === 401)
            {
                window.location = "/account/login?returnUrl=" + window.location.pathname;
            }
        });
    </script>

    @RenderSection("scripts",required: false)
</body>
</html>
